# .env.local only for unit tests, not for production use in Raycast.

# Youdao
# - Link: https://ai.youdao.com/console/
# - 应用ID -> APP_KEY
# - 应用秘钥 -> APP_SECRET

APP_PLATFORM=Youdao
APP_KEY=
APP_SECRET=
